
.unique-report-form {
    color: #d0ad53;
    position: fixed; 
    width: 500px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: #0b1d26; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
    z-index: 1000; 
    display: none; 
}

.unique-report-form.active {
    display: block;
}

.unique-close-button {
    position: absolute; 
    top: 10px; 
    right: 15px;
    background: transparent; 
    border: none;
    font-size: 24px;
    cursor: pointer; 
    color: #d0ad53; 
}

.unique-close-button:hover {
    color: red; 
}

.unique-form {
    display: flex;
    flex-direction: column; 
}

.unique-label {
    margin-bottom: 5px;
}

.unique-input, .unique-select {
    color: #ffffff;
    background-color: #0b1d26;
    width: 100%; 
    margin-bottom: 15px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
}

.new-btn{
    margin: 0px;
    width: 25%;
}


.unique-date-container {
    display: flex;          
    align-items: center;   
}

.unique-label {
    margin-right: 10px;    
}
